@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 50%;
    width: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
      background: #55595a;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7950f2;
  }
}